<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m1">
      <div class="card-panel">
        <h2 class="center">
          Log In
        </h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <!-- Get user email -->
            <div class="input-field">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true %>
            </div>

            <!-- Get user password -->
            <div class="input-field">
              <%= f.label :password %>
              <%= f.password_field :password %>
            </div>

            <!-- Submit form -->
            <div class="input-field center">
              <%= f.submit "Log in", class: "btn" %>
            </div>
        <% end %>
        <div class="center"><a href="<%= new_user_password_path %>">Forgot your password?</a></div>
      </div>
    </div>
  </div>
</div>